h1{
    color: rgb(5, 70, 252);
}

p{
    color: rgb(76, 0, 255);
}

a{
    color: rgb(255, 0, 0);
}






img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    }

    body {
        color:black;
        background-color:rgb(0, 0, 0);
        background-image:url(https://image.winudf.com/v2/image/Y29tLnNwYWNld2FsbHBhcGVyLmhkLnNwYWNlcGljdHVyZXMucGhvdG9zLmJhY2tncm91bmQuY3V0ZS5jb29sLmFydC5zcGFjZWltYWdlcy5oZC5mcmVlX3NjcmVlbl8xXzE1MzMwMjU1NDFfMDc3/screen-1.jpg?fakeurl=1&type=.jpg);
    }
        #container{
            widows: 300px;px;
            margin:0 auto;
            margin-top:10%;
        }
        